<div>
    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4">
        <button type="button" (click)="saveAddChanges()" class="btn btn-primary btn-lg m-1">Add Folder</button>
        <div class="me-2">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Folder Name</span>
                <input [(ngModel)]="folderName" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>

        <button type="button" (click)="saveFileChanges()" class="btn btn-secondary btn-lg ms-3 me-1">Upload File</button>
        <div>
            <input class="form-control form-control-lg" id="formFileLg" type="file"  (change)="onChange($event)">
        </div>
    </div>
</div>
