<!--begin:: Main div-->
<div class="container">
    <!--begin:: Secondary div-->
    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4">

        <!--begin:: Add Folder-->
        <button (click)="saveAddFolder()" type="button" class="btn btn-primary btn-lg m-1">Add Folder</button>
        <div class="me-2">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Folder Name</span>
                <input [(ngModel)]="folderName" name="folderName" type="text" class="form-control"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
        <!--end:: Add Folder-->

        <!--begin:: Upload File-->
        <button type="button" (click)="saveUploadFile()" class="btn btn-secondary btn-lg ms-3 me-1">Upload
            File</button>
        <div>
            <input (change)="onChange($event)" type="file" class="form-control form-control-lg">
        </div>
        <!--end:: Upload File-->

        <!--begin::Third div-->
        <div class="mt-4">
            <button kendoButton [svgIcon]="_iconsKendo.arrowLeft" (click)="backFolder()" class="me-2">
                Back
            </button>
            <button kendoButton [svgIcon]="_iconsKendo.arrowRight" (click)="forwardFolder()" class="me-2">
                Forward
            </button>
            <button kendoButton [svgIcon]="_iconsKendo.arrowUp" (click)="upFolder()">
                Up
            </button>
            <!--begin:: BreadCrumb-->
            <kendo-breadcrumb [items]="items" (itemClick)="onItemClick($event)">
            </kendo-breadcrumb>
            <!--end:: BreadCrumb-->

            <!--begin:: Grid Table-->
            <kendo-grid (dblclick)="onDblClick()" (cellClick)="cellClickHandler($event)" [data]="gridView"
                [loading]="isLoading"
                [filter]="gridState.filter" 
                filterable="menu"
                (filterChange)="filterChange($event)"
                [sortable]="true" 
                [sort]="sort"
                (sortChange)="sortChange($event)"
                [pageSize]="pageSize" 
                [skip]="skip" 
                (pageChange)="pageChange($event)" 
                [pageable]="{
                    buttonCount: buttonCount,
                    info: info,
                    type: type,
                    pageSizes: pageSizes,
                    previousNext: previousNext,
                    position: position,
                    
                }">

                <!--begin::Name Column-->
                <kendo-grid-column title="Name" field="name" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <kendo-svgicon [icon]="_iconsKendo.getIconForExtension(dataItem.extension)"></kendo-svgicon>
                        {{ dataItem.name }}
                    </ng-template>
                </kendo-grid-column>
                <!--end::Name Column-->

                <!--begin::Created Date-->
                <kendo-grid-column field="createdDate" format="{0:MM/dd/yyyy h:mm a}" title="Date modified">
                    <ng-template    kendoGridFilterMenuTemplate let-dataItem let-filter let-column="column"
                    let-filterService="filterService">
                    <kendo-grid-date-filter-menu [column]="column" [filter]="filter" [filterService]="filterService">
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-gte-operator></kendo-filter-gte-operator>
                        <kendo-filter-gt-operator></kendo-filter-gt-operator>
                        <kendo-filter-lte-operator></kendo-filter-lte-operator>
                        <kendo-filter-lt-operator></kendo-filter-lt-operator>
                    </kendo-grid-date-filter-menu>
                </ng-template>    
                </kendo-grid-column>
                <!--end::Created Date-->

                <!--begin::Type Column-->
                <kendo-grid-column field="extension" title="Type"> </kendo-grid-column>
                <!--end::Type Column-->

                <!--begin:: Action Column-->
                <kendo-grid-column title="Action" [width]="300">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.extension==='folder'">
                            <button kendoGridRemoveCommand [svgIcon]="_iconsKendo.deleteIcon"
                                (click)="openDeleteModalFolder(dataItem.name)" class="me-4">Delete</button>
                            <button kendoGridEditCommand [svgIcon]="_iconsKendo.downloadIcon"
                                (click)="downloadFolderZip(dataItem.name)" class="me-4">Zip</button>
                        </div>
                        <div *ngIf="dataItem.extension==='.txt'">
                            <button kendoGridRemoveCommand [svgIcon]="_iconsKendo.deleteIcon"
                                (click)="openDeleteModalFile(dataItem.name)" class="me-4">Delete</button>
                            <button kendoGridEditCommand [svgIcon]="_iconsKendo.editIcon"
                                (click)="openEditTxtModal(dataItem.name)" class="me-4">Edit</button>
                        </div>
                        <div
                            *ngIf="dataItem.extension!='folder' && dataItem.extension!='.txt' && dataItem.extension!=''">
                            <button kendoGridRemoveCommand [svgIcon]="_iconsKendo.deleteIcon"
                                (click)="openDeleteModalFile(dataItem.name)" class="me-4">Delete</button>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <!--end:: Action Column-->

            </kendo-grid>
            <!--end:: Grid Table-->

        </div>
        <!--end::Third div-->

    </div>
    <!--end:: Secondary div-->



    <!--begin:: Modal Delete Folder-->
    <div>
        <kendo-dialog title="Please confirm" *ngIf="openedFolder" (close)="closeDeleteModalFolder('cancel')"
            [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">
                Are you sure you want delete folder?
            </p>
            <kendo-dialog-actions>
                <button kendoButton (click)=" closeDeleteModalFolder('no')">No</button>
                <button kendoButton (click)=" closeDeleteModalFolder('yes')" themeColor="primary">
                    Yes
                </button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    <!--end:: Modal Delete Folder-->

    <!--begin:: Modal Delete File-->
    <div>
        <kendo-dialog title="Please confirm" *ngIf="openedFile" (close)="closeDeleteModalFile('cancel')"
            [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">
                Are you sure you want delete file?
            </p>
            <kendo-dialog-actions>
                <button kendoButton (click)="closeDeleteModalFile('no')">No</button>
                <button kendoButton (click)="closeDeleteModalFile('yes')" themeColor="primary">
                    Yes
                </button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    <!--end:: Modal Delete File-->

    <!--begin:: Modal Edit Txt File-->
    <div class="example-wrapper">
        <kendo-window title="Please provide additional data" *ngIf="opened" (close)="close()" [minWidth]="550"
            [height]="750" [width]="850">
            <kendo-window-titlebar>
                <button kendoWindowMaximizeAction></button>
                <button kendoWindowRestoreAction></button>
                <button kendoWindowCloseAction></button>
            </kendo-window-titlebar>
            <form class="k-form">
                <fieldset>
                    <label class="k-form-field">
                        <span>template.txt</span>
                        <kendo-textarea [rows]="30" [(ngModel)]="txtFileContent" name="txtFileContent"></kendo-textarea>
                    </label>
                </fieldset>

                <div class="k-actions k-actions-end">
                    <button kendoButton type="button" (click)="close()">Cancel</button>
                    <button kendoButton themeColor="primary" type="button" (click)="submit()">
                        Submit
                    </button>
                </div>
            </form>
        </kendo-window>
    </div>
    <!--end:: Modal Edit Txt File-->
</div>
<!--end:: Main div-->