<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4">
        <button (click)="saveAddFolder()" type="button" class="btn btn-primary btn-lg m-1">Add Folder</button>
        <div class="me-2">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Folder Name</span>
                <input [(ngModel)]="folderName" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>

        <button type="button" (click)="saveUploadFile()" class="btn btn-secondary btn-lg ms-3 me-1">Upload
            File</button>
        <div>
            <input (change)="onChange($event)" type="file" class="form-control form-control-lg">
        </div>

        <div class="mt-4">
            <button kendoButton [svgIcon]="rotateIcon" (click)="refreshBreadCrumb()">
                Refresh breadcrumb
            </button>
            <kendo-breadcrumb [items]="items" (itemClick)="onItemClick($event)"></kendo-breadcrumb>
            <kendo-grid (cellClick)="cellClickHandler($event)" [data]="fileData">
                <kendo-grid-column title="Name">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <kendo-svgicon [icon]="getIconForExtension(dataItem.extension)"></kendo-svgicon>
                        {{ dataItem.name }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="extension" title="Type"> </kendo-grid-column>
                <kendo-grid-column title="Action" [width]="300">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.extension==='folder'">
                            <button kendoGridRemoveCommand [svgIcon]="deleteIcon"
                                (click)="openDeleteModalFolder(dataItem.name)" class="me-4">Delete</button>
                            <button kendoGridEditCommand [svgIcon]="downloadIcon"
                                (click)="downloadFolderZip(dataItem.name)" class="me-4">Zip</button>
                        </div>
                        <div *ngIf="dataItem.extension==='.txt'">
                            <button kendoGridRemoveCommand [svgIcon]="deleteIcon"
                                (click)="openDeleteModalFile(dataItem.name)" class="me-4">Delete</button>
                            <button kendoGridEditCommand [svgIcon]="editIcon" class="me-4">Edit</button>
                        </div>
                        <div *ngIf="dataItem.extension!='folder' && dataItem.extension!='.txt'">
                            <button kendoGridRemoveCommand [svgIcon]="deleteIcon"
                                (click)="openDeleteModalFile(dataItem.name)" class="me-4">Delete</button>
                        </div>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
    <div>
        <kendo-dialog title="Please confirm" *ngIf="openedFolder" (close)="closeDeleteModalFolder('cancel')"
            [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">
                Are you sure you want delete folder?
            </p>
            <kendo-dialog-actions>
                <button kendoButton (click)=" closeDeleteModalFolder('no')">No</button>
                <button kendoButton (click)=" closeDeleteModalFolder('yes')" themeColor="primary">
                    Yes
                </button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    <div>
        <kendo-dialog title="Please confirm" *ngIf="openedFile" (close)="closeDeleteModalFile('cancel')"
            [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">
                Are you sure you want delete file?
            </p>
            <kendo-dialog-actions>
                <button kendoButton (click)="closeDeleteModalFile('no')">No</button>
                <button kendoButton (click)="closeDeleteModalFile('yes')" themeColor="primary">
                    Yes
                </button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
</div>